.ozgs-header {
    &__top-bar, &__navigation {
        @apply relative z-[1000];
        padding: 0 1.125rem;
    }

    &__top-bar {
        @apply bg-ozgsDarkGreen text-white;

        &--wrapper {
            @include container-wrapper;
            @apply flex justify-between;
            padding: 1rem 0;
        }

        &--left ul,
        &--right ul {
            @apply flex gap-8;

            a {
                @apply underline;
            }
            
            a:hover {
                @apply text-ozgsYellow;
            }
        }

        &--left {
            ul li:not(:first-child) {
                @apply hidden md:block;
            }
        }

        b {
            @apply text-ozgsYellow;
        }
    }

    &__navigation {
        @apply bg-ozgsLightGreen;

        &--wrapper {
            @include container-wrapper;
            @apply flex justify-between items-center;
            padding: 1rem 0;
        }
    }

    &__nav-menu ul {
        @apply flex gap-8;

        a {
            @apply text-xl text-ozgsGreen;
            @include boldPrimary();
        }

        a:hover {
            @apply text-ozgsYellow;
        }
    }

    &__desktop-menu {
        @apply hidden lg:block;
    }

    &__mobile-menu {
        @apply lg:hidden;

        &--toggler {
            @apply relative cursor-pointer lg:hidden h-12;
        }

        &--hamburger, &--hamburger::before, &--hamburger::after {
            @apply  bg-ozgsGreen w-8 h-1 rounded;
            transition: all .5s;
        }

        &--hamburger {
            @apply top-4 -mt-0.5;

            &::before, &::after {
                @apply absolute content-[''];
            }

            &::before {
                transform: translate(-1rem, -.75rem); 
            }

            &::after {
                transform: translate(-1rem, .75rem); 
            }

            &.open {
                @apply bg-transparent rotate-[720deg] before:translate-y-0 before:-translate-x-3 before:rotate-45 after:-translate-x-3 after:translate-y-0 after:-rotate-45;
            }
        }

        .ozgs-header__nav-menu {
            @apply absolute -top-[500px] left-0 w-full bg-ozgsLightGreen py-8 z-[99];
            transition: all 0.5s;

            &.open {
                @apply top-[134px];
            }

            ul {
                @apply flex-col items-center;
            }
        }

        &--overlay {
            @apply absolute w-full h-[100vh] bg-blackHalf z-[98];
        }
    }
}