@import url("https://use.typekit.net/mat0qpv.css");

@mixin fontPrimary {
    font-family: "chennai", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin boldPrimary {
    font-family: "chennai", sans-serif;
    font-weight: 700;
    font-style: normal;
}