.ozgs-image-grid-card {
    padding: 0 1.125rem 4.5rem;

    &__wrapper {
        @include container-wrapper;
    }

    &__grid {
        @apply flex flex-wrap gap-8;
    }

    &__grid-item {
        @apply w-full md:w-[calc(50%-1.1rem)] lg:w-[calc(33%-1.17rem)] xl:w-[calc(25%-1.5rem)];

        &:hover {
            .badge {
                box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
            }
        }

        img {
            @apply w-full h-[250px] object-cover;
            border-radius: 1rem 1rem 0 0;
        }

        &--content {
            @apply bg-ozgsLightDarkGreen;
            padding: 0 1.5rem 1.5rem;
            border-radius: 0 0 1rem 1rem;

            .badge {
                @apply relative flex justify-center items-center w-16 h-16 bg-white;
                margin: -2rem 0 1rem auto;
                border-radius: 1rem;
                transition: .2s all;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 15px 25px, rgba(0, 0, 0, 0.03) 0px 5px 10px;

                i {
                    @apply text-4xl text-ozgsDarkGreen;

                    &::before {
                        @apply relative top-[2px];
                    }
                }
            }

            h3 {
                @include boldPrimary();
                @apply text-ozgsGreen text-3xl;
            }

            p {
                @apply text-lg lg:text-xl
            }
        }
    }
}